<li class="grid-layout">
  <a href="{{ item.url }}">
    <img
      {% if index < 2 %}
        loading="eager"
      {% endif %}
      class="content-thumb"
      src="/{{ source_path }}/{{ item.fileSlug }}/thumb.png"
      alt="{{ item.data.title | escape }}"
      sizes="
        (min-width: 780px) 200px,
        (min-width: 580px) 486px,
        calc(100vw - 54px)
      "
    />
  </a>
  <div class="content-text">
    <a class="content-link" href="{{ item.url }}">
      <h4>
        {{ item.data.title | escape }}
        {% if item.data.system %}({{ item.data.system | escape }}){% endif %}
      </h4>
    </a>
    <p>{{ item.data.subtitle | escape }}</p>
    <div class="tell-me-more">{% render "cta-button.html", url: item.url, text: 'Tell me more >', external: false %}</div>
  </div>
</li>
