<li class="grid-layout">
  <a href="{{ item.url }}">
    <img
      class="content-thumb"
      src="/{{ source_path }}/{{ item.fileSlug }}/thumb.png"
      alt="{{ item.data.title | escape }}"
    />
  </a>
  <div class="content-text">
    <a class="content-link" href="{{ item.url }}">
      <h4>
        {{ item.data.title | escape }}
        {% if item.data.system %}({{ item.data.system | escape }}){% endif %}
      </h4>
    </a>
    <p>{{ item.data.subtitle | escape }}</p>
    {% if item.data.external %}
    {% render "external-links.html", external: item.data.external %}
    {% endif %}
  </div>
</li>