<div class="featured-items">
  <ul class="content-list">
    {%- assign games_list = collections.game | sort: 'data.order' -%}
    {%- assign adventures_list = collections.adventure | sort: 'data.order' -%}
    
    {%- for game in games_list -%}
      {%- if game.data.featured -%}
        {%- assign item = game -%}
        {%- assign source_path = "games" -%}
        {% render "content-item.html", item: item, source_path: source_path %}
      {%- endif -%}
    {%- endfor -%}
    
    {%- for adventure in adventures_list -%}
      {%- if adventure.data.featured -%}
        {%- assign item = adventure -%}
        {%- assign source_path = "adventures" -%}
        {% render "content-item.html", item: item, source_path: source_path %}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
