<footer>
	<div class="socials">
		<a rel="noopener" href="https://buttondown.email/button_kin_games" target="_blank" title="blog">
			<i class="footer__icon icon-newspaper"></i>
		</a>
		<a rel="noopener" href="mailto:info@buttonkin.com" target="_blank" title="email">
			<i class="footer__icon icon-mail"></i>
		</a>
		<a rel="noopener" href="/feed.xml" target="_blank" title="rss feed">
			<i class="footer__icon icon-rss-squared"></i>
		</a>
		<a rel="noopener" href="https://buttonkin.itch.io/" target="_blank" title="itch.io">
			<i class="footer__icon icon-itchio"></i>
		</a>
		<a rel="noopener" href="https://bsky.app/profile/yvris.bsky.social" target="_blank" title="bluesky">
			<i class="footer__icon icon-megaphone"></i>
		</a>
		<a rel="noopener" href="https://medium.com/@button_kin_games" target="_blank" title="medium">
			<i class="footer__icon icon-edit"></i>
		</a>
		<a rel="noopener" href="https://tumblr.com/button-kin-games" target="_blank" title="tumblr">
			<i class="footer__icon icon-tumblr"></i>
		</a>
		<a rel="noopener" href="https://instagram.com/button_kin_games" target="_blank" title="instagram">
			<i class="footer__icon icon-instagram"></i>
		</a>
	</div>
	<p>
	  <strong>Button Kin Games</strong>
	</p>
	</div>
</footer>
