<div class="banner-container">
	<a href="/">
		<div class="banner-image">
			<img alt="A banner with lots of dice and the words 'Button Kin Games'" srcset="/assets/banner-500.png 500w, /assets/banner-680.png 680w, /assets/banner-920.png 920w, /assets/banner-1800.png 1800w" sizes="100vw" />
		</div>
	</a>
</div>
<nav class="navbar">
	<a class="navbar-brand" href="/">
		<div class="row">
			<div class="col-md-3"><img class="icon" alt="A button person with a magic staff" src="/assets/logo_icon.png"/></div>
			<div class="col-md-9">Button Kin Games</div>
		</div>
	</a>
	<div class="navbar__links align--right">
		{% assign pages_list = collections.page | where: 'data.order' | sort: 'data.order' %} 
		{% for p in pages_list %}
 			{% if p.data.linkText %}
 			<a
        class="
				  navbar__link
					{% if p.url == page.url %}
						active
					{% endif %}
				"
        href="{{ p.url }}"
      >
				<i
          class="icon-{{ p.data.icon | escape }}"
        ></i>
        {{ p.data.linkText | escape }}
 			</a>
 			{% endif %} 
		{% endfor %}
		{% assign latest_blog = collections.post | reverse | first %}
		<a
		  class="
				navbar__link
				{% if latest_blog.url == page.url %}
					active
				{% endif %}
			"
			href="{{ latest_blog.url }}"
		>
			<i class="icon-newspaper"></i> Blog
		</a>
		<a class="navbar__link" href="https://buttonkingames.bigcartel.com">
			<i class="icon-shop"></i> Shop
		</a>
	</div>
</nav>
