<div class="banner-container">
	<a href="/">
		<div class="banner-image">
			<img
			  loading="eager"
	  		alt="A banner with lots of dice and the words 'Button Kin Games'"
			  src="/assets/banner-1800.png"
				sizes="
					(min-width: 1200px) 1120px,
					(min-width: 1000px) 940px,
					(min-width: 780px) 700px,
					(min-width: 580px) 510px,
					calc(100vw - 30px)
				"
			/>
		</div>
	</a>
</div>
<nav class="navbar">
	<div class="navbar__links align--right">
		{% assign pages_list = collections.page | where: 'data.order' | sort: 'data.order' %} 
		{% for p in pages_list %}
 			{% if p.data.linkText %}
 			<a
        class="
				  navbar__link
					{% if p.url == page.url %}
						active
					{% endif %}
				"
        href="{{ p.url }}"
      >
				<i
          class="icon-{{ p.data.icon | escape }}"
        ></i>
        {{ p.data.linkText | escape }}
 			</a>
 			{% endif %} 
		{% endfor %}
		{% assign latest_blog = collections.post | reverse | first %}
		<a
		  class="
				navbar__link
				{% if latest_blog.url == page.url %}
					active
				{% endif %}
			"
			href="{{ latest_blog.url }}"
		>
			<i class="icon-newspaper"></i> Blog
		</a>
	</div>
</nav>
