<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {%- if metaTitle -%}
      {{ metaTitle | escape }}
    {%- else -%}
      {{ site.name | escape }}
    {%- endif -%}
  </title>

  <meta
    name="description"
    content="{{ excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link
    rel="stylesheet"
    type="text/css"
    href="/css/style.css"
  >
  <link
    rel="stylesheet"
    type="text/css"
    href="/assets/icons/css/fontello.css"
  >
  <link
    rel="canonical"
    href="https://buttonkin.com{{ page.url }}"
  >
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title | escape }}"
    href="{{ "/feed.xml" }}"
  >
  <link
    rel="icon"
    href="/favicon.ico"
    type="image/x-icon"
  >

  <link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=calistoga:400" rel="stylesheet" />

  {% include "json-ld.html" %}
</head>
