<script type="application/ld+json"> 
    {
      "@context": "http://www.schema.org",
      "@type": "ProductCollection",
      "name": "Button Kin Games",
      "url": "https://buttonkin.com",
      "priceRange": "$",
      "image": "https://buttonkin.com/assets/banner-1800.jpg",
      "sameAs": [
        "https://twitter.com/button_kin",
        "https://buttonkin.itch.io/",
        "https://buttonkingames.substack.com/"
      ],
      "description": "A boutique publisher of table top roleplaying games and adventure content based in Manchester, Uk."
    }
</script>