<ul class="content-list blog-list">
  {%- for post in posts -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h5>
      <a class="post-link" href="{{ post.url }}">{{ post.data.title | escape }}</a>
    </h5>
    <p>{{ post.data.subtitle | escape }}</p>
    {% assign show_tags = post.data.tags | tags %}
    {% if show_tags %}
      <p class="tag-pills">
        {% for tag in show_tags -%}
          <a href="/tags/{{ tag.tag }}">{{ tag.name }}</a>
        {%- endfor %}
      </p>
    {% endif %}
  </li>
  {%- endfor -%}
</ul>

{%- if show_all_link -%}
<div class="cta-buttons">
  {% render "cta-button.html", url: "/newsletter/", text: "View all posts" %}
</div>
{%- endif -%}