<div class="col-md-3 margin--bottom centered">
  <img
    alt="a button person with a magic staff"
    class="right-rail-logo"
    src="/assets/logo_transparent_bg.png"
  />
  {% include "social-media-links.html" %}
  <div class="blog-links">
    <h5>Latest blogs</h5>
    <ul>
      {% assign posts = collections.post | reverse %}
      {% for p in posts %}
        {% if forloop.index < 4 %}
          <li>
            <a href="{{ p.url | escape }}">
              {{ p.data.title | escape }}<br />
              <small>{{ p.data.subtitle | escape }}</small>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li>
        <a href="/newsletter/">More Posts &rarr;</a>
      </li>
    </ul>
  </div>
</div>
