<ul class="social-links">
	<li>
		<a rel="noopener" href="https://buttondown.email/button_kin_games"
		 target="_blank">
		 	<i class="icon-newspaper"></i>
			newsletter
		</a>
	</li>
	<li>
		<a rel="noopener" href="mailto:info@buttonkin.com"
		 target="_blank">
		 	<i class="icon-mail"></i>
			email
		</a>
	</li>
	<li>
		<a rel="noopener" href="/feed.xml"
		 target="_blank">
		 	<i class="icon-rss-squared"></i>
			RSS
		</a>
	</li>
	<li>
		<a rel="noopener" href="https://buttonkin.itch.io/" target="_blank">
			<i class="icon-itchio"></i>
			itch.io
		</a>
	</li>
	<li>
		<a rel="noopener" href="https://bsky.app/profile/yvris.bsky.social" target="_blank">
			<i class="icon-megaphone"></i>
			bluesky
		</a>
	</li>
	<li>
		<a rel="noopener" href="https://medium.com/@button_kin_games" target="_blank">
			<i class="icon-edit"></i>
			medium
		</a>
	</li>
	<li>
		<a rel="noopener" href="https://tumblr.com/button-kin-games" target="_blank">
			<i class="icon-tumblr"></i>
			tumblr
		</a>
	</li>
	<li>
		<a rel="noopener" href="https://instagram.com/button_kin_games" target="_blank">
			<i class="icon-instagram"></i>
			instagram
		</a>
	</li>
</ul>
