---
layout: default.html
title: Button Kin Blog
---

<div class="row">
  <div class="col-md-9 margin--bottom">
    <div style="text-align: right">
      {% include "title.html" %}
      <!-- Pagination links -->
      <div
        class="pagination author"
        style="margin-top: -23px; margin-bottom: 16px"
      >
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous"
          >&larr; Previous</a
        >
        | {% endif %}
        <span class="page_number">
          Page {{ paginator.page }} of {{ paginator.total_pages }} |
        </span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next &rarr;</a>
        {% endif %}<br />
        {% if paginator.total_pages > 1 %}
        <a href="/archive">Archive</a>
        {% endif %}
      </div>
    </div>

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="author">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="date">{{ post.date | date: date_format}}</span>
    </p>
    <div class="content">
      {{ post.content }}
      <div>
        <h3>Other ways to keep up with Button Kin:</h3>
        <ul>
          <li>
            Follow me on
            <a href="https://buttonkin.itch.io/" target="_blank">Itch.io</a>
          </li>
          <li>
            Follow me on
            <a href="https://bsky.app/profile/yvris.bsky.social" target="_blank"
              >Bluesky</a
            >
          </li>
          <li>
            Follow me on
            <a href="https://tumblr.com/button-kin-games" target="_blank"
              >Tumblr</a
            >
          </li>
          <li>
            Follow me on
            <a href="https://medium.com/@button_kin_games" target="_blank"
              >Medium</a
            >
          </li>
          <li>
            Follow me on
            <a href="https://instagram.com/button_kin_games" target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            Follow my
            <a href="https://buttonkin.com/feed.xml" target="_blank"
              >RSS feed</a
            >
          </li>
        </ul>
      </div>
      <p>
        Thanks for reading! If you want to hear from me monthly you can
        subscribe to my substack. If you already subscribe and you're enjoying
        these posts, please tell your friends!
      </p>
      <em
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        %} {{ page.date | date: date_format }}
      </em>
    </div>
    {% endfor %}
    <div style="width: 100%; margin: auto">
      <iframe
        scrolling="no"
        style="width: 100% !important; height: 150px; border: 0px !important"
        src="https://buttondown.email/button_kin_games?as_embed=true"
      ></iframe>
    </div>
    <!-- Pagination links -->
    <div class="pagination" style="float: right; text-align: right">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous"
        >&larr; Previous</a
      >
      | {% endif %}
      <span class="page_number">
        Page {{ paginator.page }} of {{ paginator.total_pages }} |
      </span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next &rarr;</a>
      {% endif %}
      <br />
      {% if paginator.total_pages > 1 %}
      <a href="/archive">Archive</a>
      {% endif %}
    </div>
  </div>
  {% include "side-menu.html" %}
</div>
