---
layout: default.html
---

<div class="row">
  <div class="col-md-9 margin--bottom main-content">
    {% include "title.html" %}
    <div class="page {{page.cssClass}}">
      <ul class="content-list">
        {% assign adventures_list = collections.adventure | sort: 'data.order'
        %} {% for adventure in adventures_list %}
        <li>
          <a class="content-link" href="{{ adventure.url }}">
            <img
              class="content-thumb"
              src="/adventures/{{ adventure.fileSlug }}/thumb.png"
              alt=""
            />
            <h4>
              {{ adventure.data.title | escape }} ({{ adventure.data.system |
              escape }})
            </h4>
          </a>
          <p>{{ adventure.data.subtitle | escape }}</p>
          {% if adventure.data.external %}
          <p class="content-available">
            Available on {% for ext in adventure.data.external %} {% if
            forloop.last == true and forloop.length > 1 %}and {% endif %}
            <a href="{{ext.url}}" target="_blank">{{ext.name | escape}}</a>{% if
            forloop.last != true and forloop.length > 2 %}, {% endif %} {%
            endfor %}
          </p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% include "side-menu.html" %}
</div>
