---
layout: page.html
eleventyComputed:
  title: "{{ title | default: page.title }}"
  subtitle: "{{ subtitle | default: page.subtitle }}"
  icon: "{{ icon | default: page.icon }}"
  cssClass: "{{ cssClass | default: page.cssClass }}"
---

{% if banner_include %}
  {% include banner_include %}
{% endif %}

<ul class="content-list">
  {% assign content_items = collections[collection_name] | sort: 'data.order' %}
  {% for item in content_items %}
    {% assign source_path = content_type %}
    {% render "content-item.html", item: item, source_path: source_path %}
  {% endfor %}
</ul>
