---
layout: page.html
---

<div class="content" itemprop="articleBody">

  {% if system %}
  <h6>System: {{system | escape}}</h6>
  {% endif %} {% if contentwarn %}
  <p class="content-warn">Content warnings: {{contentwarn | escape}}</p>
  {% endif %} {% if external %}
  <p class="content-available">
    Available on {% for ext in external %} {% if forloop.last == true and
    forloop.length > 1 %}and {% endif %}
    <a href="{{ext.url}}" target="_blank">{{ext.name | escape}}</a>{% if
    forloop.last != true and forloop.length > 2 %}, {% endif %} {% endfor %}
  </p>
  {% endif %}

  <p class="content-suitability">Suitable for {{suitability | escape}}.</p>

  {% if itch_widget %}
   <iframe
     frameborder="0"
     src="{{itch_widget.src}}"
     class="itch-widget"
    >
      <a href="{{itch_widget.url}}">
        {{title | escape}}
      </a>
    </iframe>
  {% endif %}  {{ content }} {% if reviews %}
  <div class="content-reviews">
    <h5>Kind words about <i>{{title | escape}}</i></h5>
    {% for review in reviews %}
    <p class="content-review">
      <span>&ldquo;{{review.text | escape}}&rdquo;</span><br />- {{review.author
      | escape}}
    </p>
    {% endfor %}
  </div>
  {% endif %}
  {% if external %}
  <p class="content-available" style="float: right; bottom: 50px">
    Available on {% for ext in external %} {% if forloop.last == true and
    forloop.length > 1 %}and {% endif %}
    <a href="{{ext.url}}" target="_blank">{{ext.name | escape}}</a>{% if
    forloop.last != true and forloop.length > 2 %}, {% endif %} {% endfor %}
  </p>
  {% endif %}
</div>
