---
layout: page.html
---

<div class="content" itemprop="articleBody">
  {% if specs %}
    <div class="game-header">
      <div class="specs">
        <p><strong>{{ subtitle }}</strong></p>
        <p>{{ intro }}</p>
        <div class="row">
          {%- for spec in specs -%}
            <div class="col-4"><strong>{{ spec[0] }}:</strong> {{ spec[1] }}</div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% if contentwarn %}
      <p class="content-warn">
        Content warnings: {{contentwarn | escape}}
      </p>
    {% endif %}
  {% else %}
    {% if system %}
      <h6>System: {{system | escape}}</h6>
    {% endif %}
    {% if contentwarn %}
      <p class="content-warn">
        Content warnings: {{contentwarn | escape}}
      </p>
    {% endif %}
    <p class="content-suitability">
      Suitable for {{suitability | escape}}.
    </p>
  {% endif %}

  {% if external %}
    <h6>Get your digital copy: {% render "external-links.html", external: external %}</h6>
  {% endif %}

  {% if stripe_btn_ids %}
    {% include "stripe-embeds.html" %}
  {% endif %}

  {{ content }}

  {% if reviews %}
  <div class="content-reviews">
    <h5>Kind words about <i>{{title | escape}}</i></h5>
    {% for review in reviews %}
    <blockquote>
      &ldquo;{{review.text | escape}}&rdquo;
      <span>{{review.author | escape}}</span>
    </blockquote>
    {% endfor %}
  </div>
  {% endif %}

  {% if external %}
    <h6>Get your digital copy: {% render "external-links.html", external: external %}</h6>
  {% endif %}
</div>
