---
layout: default.html
---

<div class="row">
  <div class="col-md-9 page page--home margin--bottom main-content">
    {% include "title.html" %}

    {{ content }}
  
    {%- include "subscribe.html" -%}
    
    <h2>Featured Releases</h2>
    
    {%- include "featured-items.html" -%}
    
    <div class="cta-buttons">
      {% render "cta-button.html", url: "/games/", text: "View all games" %}
      {% render "cta-button.html", url: "/adventures/", text: "View all adventures" %}
    </div>
  </div>
  {% include "side-menu.html" %}
</div>
