---
layout: default.html
---

<div class="row">
  <div class="col-md-9 margin--bottom">
    {% include "title.html" %}
    <div class="page {{page.cssClass}}">
      <ul class="content-list">
        {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d,
          %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h5>
            <a class="post-link" href="{{ post.url }}"
              >{{ post.title | escape }}</a
            >
            <br /><small>{{ post.subtitle | escape }}</small>
          </h5>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div style="width: 60%; margin: auto">
      <iframe
        scrolling="no"
        style="width: 100% !important; height: 150px; border: 0px !important"
        src="https://buttondown.email/button_kin_games?as_embed=true"
      ></iframe>
    </div>
  </div>
  {% include "side-menu.html" %}
</div>
