---
layout: page.html
---

<div itemscope itemtype="http://schema.org/BlogPosting">
  <div class="content" itemprop="articleBody">
    <p class="post-date">
      <em
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        %} {{ page.date | date: date_format }}
      </em>
    </p>
    {% assign show_tags = tags | tags %}
    {% if show_tags %}
      <p>
        <strong>Tagged:</strong>
        <em>
          {% for tag in show_tags -%}{%- if forloop.first == false %}, {% endif %}
          <a href="/tags/{{ tag.tag }}">{{ tag.name }}</a>{% endfor %}
        </em>
      </p>
    {% endif %}
    
    {{ content }}
  </div>
  <p>
    Thanks for reading! If you want to hear from us monthly you can subscribe to
    the Button Kin newsletter. If you already subscribe and you're enjoying
    these posts, please tell your friends!
  </p>
</div>
{% include "subscribe.html" %}
<div class="cta-buttons">
  {% render "cta-button.html", url: "/newsletter/", text: "View all posts" %}
</div>
<hr />

<h3>Other ways to keep up with Button Kin:</h3>
<ul>
  <li>
    Follow me on
    <a href="https://buttonkin.itch.io/" target="_blank">Itch.io</a>
  </li>
  <li>
    Follow me on
    <a href="https://bsky.app/profile/yvris.bsky.social" target="_blank"
      >Bluesky</a
    >
  </li>
  <li>
    Follow me on
    <a href="https://tumblr.com/button-kin-games" target="_blank">Tumblr</a>
  </li>
  <li>
    Follow me on
    <a href="https://instagram.com/button_kin_games" target="_blank"
      >Instagram</a
    >
  </li>
  <li>
    Follow my
    <a href="https://buttonkin.com/feed.xml" target="_blank">RSS feed</a>
  </li>
</ul>
