---
---

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/css/press-kit.css" />
    <title>Drama Llamas Press Kit</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="leftcol col-2">
          <div class="menu col-2">
            <a href="#top">
              <img
                src="/assets/logo_transparent_bg.png"
                alt="button kin logo"
                sizes="auto"
              />
            </a>
            <ul>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#button-kin">Button Kin</a></li>
              <li><a href="#drama-llamas">Drama Llamas</a></li>
              <li><a href="#kickstarter">Kickstarter Basics</a></li>
              <li><a href="#art">Art</a></li>
              <li><a href="#logos">Logos</a></li>
              <li><a href="#press">Press</a></li>
            </ul>
          </div>
        </div>
        <div class="content col-10">
          <a id="top"></a>
          <img
            class="header-logo"
            alt="Buttonkin Games"
            src="/assets/images/press-kit/logos/drama-llamas/drama_llamas_logo_black.png"
          />
          <h1>Press Kit</h1>
          <a id="contact"></a>
          <h3>Contact</h3>
          <ul>
            <li>
              Email: <a href="mailto:info@buttonkin.com">info@buttonkin.com</a>
            </li>
            <li>
              Twitter:
              <a href="https://twitter.com/button_kin" target="_blank"
                >@button_kin</a
              >
            </li>
            <li>
              Instagram:
              <a href="https://instagram.com/button_kin_games" target="_blank"
                >Button Kin Games</a
              >
            </li>
          </ul>
          <a id="button-kin"></a>
          <h3>Button Kin</h3>
          <p>
            Having been bitten by the TTRPG bug at the ripe old age of 37, Yvris
            (pronounced Eve-ris) Burke, the creative force behind Button Kin
            Games, wasted no time immersing herself in different systems and
            roleplaying experiences, boring old friends and family members to
            actual death with her newfound obsession. Before long, in a typical
            stroke of hubris, she decided to make her new hobby her job.
          </p>
          <p>
            Drawing on a life long love of sci fi, fantasy, whimsy, and hijinks,
            Yvris is best known for her solo RPG about being a baby bumble bee,
            <a href="/bumbling"><i>Bumbling</i></a
            >, her best selling D&D 5e adventure
            <a href="/a-fey-mystery-of-glen-dourn"
              ><i>A Fey Mystery of Glen Dourn</i></a
            >, and her
            <a
              href="https://www.youtube.com/watch?v=h9JJWbzp1YI"
              target="_blank"
              ><i>work</i></a
            >
            <a
              href="https://www.youtube.com/watch?v=WNjlJOIvbAI"
              target="_blank"
              ><i>streaming</i></a
            >
            with
            <a href="https://www.twitch.tv/girlsruntheseworlds" target="_blank"
              ><i>Girls Run These Worlds</i></a
            >.
          </p>
          <a id="drama-llamas"></a>
          <h3>Drama Llamas</h3>
          <p>
            Drama Llamas is a narrative driven TTRPG about reality TV
            competition shows. Easy to plan and easy to play, the game contains
            everything you need to create (or recreate) the reality franchise of
            your dreams. Packed with genre tropes and chaos-generating
            mechanics, all with an absurdist, llama-flavoured twist.
          </p>
          <p>
            You and your friends will play as cast of fame-hungry llamas, eager
            to grab the spotlight and snatch the big prize. You'll complete
            challenges, create drama, form alliances, sabotage your fellow
            contestants, and expose your deepest darkest secrets. Keep an eye on
            your drama score, though - toxic llamas never prosper!
          </p>
          <p>
            Gather 3-5 players plus a GM, or "Producer", create your llama
            contestants and compete for the grand prize while generating heaps
            of delicious drama. This game is 90% role play, 10% strategy, 0%
            combat (unless the drama gets really out of hand!)
          </p>
          <a id="kickstarter"></a>
          <h3>Kickstarter Basics</h3>
          <p>
            The campaign will fund a print run of the 40-page game illustrated
            by
            <a href="https://instagram.com/alvaworm" target="_blank"
              >Àlavro Torres</a
            >.
          </p>
          <ul>
            <li>Launch date: 14th February, 2023</li>
            <li>Physical tier: £25</li>
            <li>Digital tier: £10</li>
            <li>
              URL:
              <a
                href="https://www.kickstarter.com/projects/buttonkin/drama-llamas"
                target="_blank"
                >https://www.kickstarter.com/projects/buttonkin/drama-llamas</a
              >
            </li>
          </ul>
          <a id="art"></a>
          <h3>Art</h3>
          <p>
            Illustrations by
            <a href="https://instagram.com/alvaworm" target="_blank"
              >Àlavro Torres</a
            >
            (click image to download):
          </p>
          <a
            href="/assets/images/press-kit/drama-llamas/Drag-Race-Llamas.png"
            download
            ><img
              class="pk-art-thumb"
              src="/assets/images/press-kit/drama-llamas/Drag-Race-Llamas-thumb.png"
              alt="Drama Llamas winner's ceremony. Llamas on stage in front of an audience. One has a sceptre and looks proud, the others are looking on, annoyed."
          /></a>
          <a
            href="/assets/images/press-kit/drama-llamas/Ninja-Warrior-Llamas.png"
            download
            ><img
              class="pk-art-thumb"
              src="/assets/images/press-kit/drama-llamas/Ninja-Warrior-Llamas-thumb.png"
              alt="A laughing llama swings on a punch bag over a pool of water. It looks like it's completing an obstacle course."
          /></a>
          <a
            href="/assets/images/press-kit/drama-llamas/Survivor-Llamas.png"
            download
            ><img
              class="pk-art-thumb"
              src="/assets/images/press-kit/drama-llamas/Survivor-Llamas-thumb.png"
              alt="llamas around a camp fire on a tropical island."
          /></a>
          <a id="logos"></a>
          <h3>Logos</h3>
          <span>Click to download <b>Button Kin</b> logos:</span>
          <ul>
            <li>
              <a
                href="/assets/images/press-kit/logos/button-kin/button_kin_logo_colour.png"
                download
                >Full colour</a
              >
            </li>
            <li>
              <a
                href="/assets/images/press-kit/logos/button-kin/button_kin_logo_bw.png"
                download
                >Black lines, white background</a
              >
            </li>
            <li>
              <a
                href="/assets/images/press-kit/logos/button-kin/button_kin_black_transparent.png"
                download
                >Black lines, transparent background</a
              >
            </li>
            <li>
              <a
                href="/assets/images/press-kit/logos/button-kin/button_kin_white_transparent.png"
                download
                >White lines, transparent background</a
              >
            </li>
            <li>
              <a
                href="/assets/images/press-kit/logos/button_kin_logos.zip"
                download
                >.zip of all logos</a
              >
            </li>
          </ul>
          <span>Click to download <b>Drama Llamas</b> logos:</span>
          <ul>
            <li>
              <a
                href="/assets/images/press-kit/logos/drama-llamas/drama_llamas_logo_colour.png"
                download
                >Full colour text, transparent background</a
              >
            </li>
            <li>
              <a
                href="/assets/images/press-kit/logos/drama-llamas/drama_llamas_logo_black.png"
                download
                >Black text, transparent background</a
              >
            </li>
            <li>
              <a
                href="/assets/images/press-kit/logos/rama-llamas/drama_llamas_logo_white.png"
                download
                >White text, transparent background</a
              >
            </li>
            <li>
              <a
                href="/assets/images/press-kit/logos/drama_llamas_logos.zip"
                download
                >.zip of all logos</a
              >
            </li>
          </ul>
          <a id="press"></a>
          <h3>Press</h3>
          <ul class="press-list">
            <li>
              <a
                href="https://web.archive.org/web/20221222133352/https://kick.agency/news/kill-some-time-and-possibly-monsters-with-these-6-innovative-rpgs/"
                target="_blank"
                >Kick Agency TTRPG news round up, 12th December 2022 (archive link)</a
              >
            </li>
            <li>
              <a
                href="https://notdnd.podbean.com/e/32-drama-llamas-with-yvris-burke/"
                target="_blank"
                >Not DND podcast appearance, 28th November 2022</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
